*{
	margin:0px 0px;
	padding:0px;
}
.d1{
	width:100%;
	height:100vh;
	position:relative;
	background-image: url('./pics/a.jpg');
	background-size:cover;
}
.h1{
	color:white;
	font-size:50px;
	font-weight:bold;
	font-family:"Algerian";
}

.menu-bar{
	background:rgba(0,0,0,0.5);
	text-align:center;
	height:100%;
}
.menu-bar ul{
	display:inline-flex;
	list-style:none;
	color:white;
}
.menu-bar ul li{
	width:120px;
	margin:15px;
	padding:15px;
}
.menu-bar ul li a{
	text-decoration:none;
	color:white;
	font-size:20px;
	font-family:"Bahnschrift Condensed";
	font-weight:bold;
	margin-top:10px;
}
.act,.menu-bar ul li:hover{
	background:blueviolet;
	border-radius:3px;
}
.p1{
	color:white;
	margin-top:20px;
	font-size:40px;
	font-weight:bolder;
}

.p2{
	color:white;
	font-size:20px;
	font-weight:bolder;
}
.join-btn{
	color:white;
	font-weight:bolder;
	padding:10px 30px;
	font-size:20px;
	background:blueviolet;
	width:150px;
	height:60px;
	border:none;
	cursor:pointer;
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(250,250,250,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0;
}

.login-form-container form{
    background:#fff;
	box-shadow:0 0 6px;
    width:25rem;
    padding:2rem;
	border:5px solid purple;
    border-radius:20px;
    margin:2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 90%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: 0.8rem;
    font-size: 1.5rem;
}

.login-form-container form p a{

    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 5rem;
    cursor: pointer;
}

   

.hr{
	background-color:white;
	width:220px;
	font-size:50px;
	font-weight:bold;
	margin:-30px auto 10px;
	text-align:center;
	border:5px solid blueviolet;
}

@media screen and (max-width: 768px) 
{
	
}